.cidingspan{
    font-size: 18px;
    color: #ff9800;
    font-weight: 700;
    position: relative;
    top: -2px;
    margin-left: 10px;
}
.cidingspan2{
    font-size: 18px;
    color: #ff9800;
    font-weight: 700;
    position: relative;
    top: -2px;
    margin-left: 0px;
}

.cidingspan2.cidinghidepinglun{
    opacity: 1!important;
}